[submodule "common/scripts/rcane"]
	path = common/scripts/rcane
	url = git@github.com:klmr/rcane.git
	branch = trna-project
[submodule "rna/scripts/goo"]
	path = rna/scripts/goo
	url = git@bitbucket.org:klmr/pygoo.git
	branch = trna-project
